html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.inline-form {
  display: flex;
  border: solid;
  /* align-items: center; */
}

.inline-form .form-input {
  /* display: flex; */
  margin: 5px;
  /* align-items: center; */
}

.inline-form .button {
  /* display: flex; */
  margin: 11px;
  height: 50%;
  /* align-items: center; */
}
